<section class="splash-page-sheet {{cssClass}}">
  <p class="hint">Splash contents are edited in the visual editor.</p>
  <button type="button" data-action="editSplash">
    Open Editor
  </button>
  <button type="button" data-action="showSplash">
    Show
  </button>
  <button type="button" data-action="testSplash">
    Test Data
  </button>
</section>
