<section class="splash-page-sheet {{cssClass}}">
  <button type="button" data-action="editSplash">
    Edit
  </button>
  <button type="button" data-action="showSplash">
    Show
  </button>
  <button type="button" data-action="testSplash">
    Test Data
  </button>
</section>